*{

margin:0;
padding:0;
box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #ffffff;
}

::-webkit-scrollbar {
  background-color: #ebecf1;
  width: 0.4vw0;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}
